{% set active_page = "billing_history" %}
{% extends "cashier/header.html" %}
{% block admin %}
<div class="row">

	<!--{{billing}}
  -->
	
	<form action="/search_billing_history" class="form-inline" method="POST">
		<div class="col-2" style="display: none;">
			<div class="form-floating mb-3">
				<select class="form-control" name="week">
					<option selected hidden value="">Please select</option>
					<option value="1">Week 1</option>
					<option value="2">Week 2</option>
					<option value="3">Week 3</option>
					<option value="4">Week 4</option>
				</select>
				<label for="floatingInput">Week</label>
			</div>
		</div>

		<div class="col-2">
			<div class="form-floating mb-3">
				<select class="form-control" name="month">
					<option selected hidden value="">Please select</option>
					<option value="01">January</option>
					<option value="02">February</option>
					<option value="03">March</option>
					<option value="04">April</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<label for="floatingInput">Month</label>
			</div>
		</div>
		<div class="col-2">
			<div class="form-floating mb-3">
				<select class="form-control" required name="year">
					<option selected hidden disabled value="">Please select</option>
					{% for i in year_list %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
				<label for="floatingInput">Year</label>
			</div>
		</div>
		<div class="col-2">
			<button class="btn btn-sm btn-info"><i class="fa fa-filter"></i> Filter</button>
		</div>
	</form>

	<div class="col-5">
		<form action="/search" method="POST">
			<div class="input-group input-group-outline">
				<label class="form-label">Search by name...</label>
				<input type="text" name="user_id" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
			</div>
		</form>
	</div>
	<br><br>
  
	<div class="col-12 text-center">

		<!--  {% for i in billing %}
      {{i}}<hr>
    {% endfor %} -->
	
		<div class="card my-4">
			<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
				<div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
					<h6 class="text-white text-capitalize ps-3">Billing History</h6>
				</div>
			</div>
			<div class="card-body px-0 pb-2">
				
				<div class="table-responsive p-0">

					<table class="table align-items-center mb-0">
						<thead>
							<tr>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Consumer</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Due Date (MM/YYYY)</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reading</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bill (Amount)</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Receipt</th>
							</tr>
						</thead>
						<tbody>
							{% for i in billing %}
							<tr>
								<td>{{i[1]}} {{i[2]}}</td>
								<td>
									{% if i[10] == '01' %}
										January	
									{% elif i[10] == '02' %}
										February		
									{% elif i[10] == '03' %}
										March
									{% elif i[10] == '04' %}
										April	
									{% elif i[10] == '05' %}
										May
									{% elif i[10] == '06' %}
										June
									{% elif i[10] == '07' %}
										July
									{% elif i[10] == '08' %}
										August
									{% elif i[10] == '09' %}
										September
									{% elif i[10] == '10' %}
										October			
									{% elif i[10] == '11' %}
										November
									{% elif i[10] == '12' %}
										December	
									{% endif %}
									- {{i[11]}}</td>
								<td><b>{{i[12]}}</b></td>
								<td><b>&#8369; {{i[13]}}.00</b></td>
								<td><b style="color:green">{{i[15]}}</b></td>
								<td>
									<button class="btn btn-info btn-sm" data-bs-toggle="modal"
										data-bs-target="#receipt{{i[7]}}">
										<span class="material-symbols-outlined">
											receipt_long
										</span>
										RECEIPT
									</button>
								</td>
							</tr>

							<div class="modal fade" id="receipt{{i[7]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">RECIEPT for Account ID #{{i[21]}}</h5>

											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:black">X</button> -->
											<button class="btn btn-info" onclick="print()">PRINT</button>
										</div>
										<div class="modal-body" id="section-to-print" style="border: 1px dotted black;">
										
											<div>
												<div style="float:left">
													<img src="{{url_for('static',filename='img/logo.png')}}" width="100px" height="100px">
												</div>
												<div class="text-center" style="font-size: 17px; font-weight: bolder;">
													Barangay Alubihid Water System Consumer's Association <br>
													Address: Barangay Alubihid, Buenavista<br>
													Province: Agusan del Norte<br>
													Phone: <br>
												</div>
											</div>
											<br>
											<center>
												<h5>WATER BILL<br>MONTH OF 
													<b id="month"> 
														{% if i[10] == '01' %}
															JANUARY
														{% elif i[10] == '02' %}
															FEBRUARY
														{% elif i[10] == '03' %}
															MARCH
														{% elif i[10] == '04' %}
															APRIL
														{% elif i[10] == '05' %}
															MAY
														{% elif i[10] == '06' %}
															JUNE
														{% elif i[10] == '07' %}
															JULY
														{% elif i[10] == '08' %}
															AUGUST
														{% elif i[10] == '09' %}
															SEPTEMBER
														{% elif i[10] == '10' %}
															OCTOBER
														{% elif i[10] == '11' %}
															NOVEMBER
														{% elif i[10] == '12' %}
															DECEMBER
														{% endif %}
													</b> 
													{{i[11]}}</h5>
											</center>

											<h5>Name: {{i[1]}} {{i[2]}}</h5>
											<h5>Address: {{i[20]}}</h5>
											<!-- <h5>Classification: Resident</h3> -->
											<hr>
											<h5>Bill Date: {{i[10]}}/1/{{i[11]}}</h5>
											<h5>Due Date: {{i[10]}}/10/{{i[11]}}</h5>
											<hr>
											Payment Method: <b>{{i[16]}}</b><br>
											Amount Paid: &#8369; {{i[13]}}.00<br>
											Date Paid: {{i[18]}}<br>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="modal fade" id="search" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">SEARCH</h5>

				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					style="color:black">X</button>

			</div>
			<div class="modal-body text-center">

				<form action="/search" method="POST">
					<input type="text" name="user_id" list="users_list" class="form-control" required>
					<datalist id="users_list">
						{% for i in users %}
						<option value="{{i[0]}}">{{i[1]}} {{i[2]}}</option>
						{% endfor %}
					</datalist>
					<br>
					<button class="btn btn-info" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	@media print {
		body * {
			visibility: hidden;
		}

		#section-to-print,
		#section-to-print * {
			visibility: visible;
		}

		#section-to-print {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.form-control {
		border-bottom: 1px solid gray;
		border-radius: 0px;
	}

	.form-control:focus {
		border-bottom: 3px solid rgb(227, 48, 0);
	}
</style>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function() {

		function month(num) {
			var month = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
			return month[(Number(num) - 1)];
		}
		// var num = $("#month").html()
		// $("#month").html(month(num));
	});
</script>
{% endblock %}