<aside
	class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
	id="sidenav-main">

	<div class="sidenav-header">
		<i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
			aria-hidden="true" id="iconSidenav"></i>
		<a class="navbar-brand m-0" href="/">
			<img class="navbar-brand-icon h-200" src="{{url_for('static',filename='img/logo.png')}}">
			<span class="ms-1 font-weight-bold text-white">Water Billing System</span>
		</a>
	</div>

	<hr class="horizontal light mt-0 mb-2">

	<div class="collapse navbar-collapse w-auto " id="sidenav-collapse-main">
		<ul class="navbar-nav">

			<li class="nav-item">
				<a href="/cashier" {% if active_page=="dashboard" %} class="nav-link text-white bg-gradient-info active"
					{% else %} class="nav-link text-white" {% endif %}>
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">dashboard</i>
					</div>
					<span class="nav-link-text ms-1">Dashboard</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="/pending"
					{% if active_page == "pending" %} class="nav-link text-white bg-gradient-info active" 
					{% else %} class="nav-link text-white" 
					{% endif %} >
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">account_balance_wallet</i>
					</div>
					<span class="nav-link-text ms-1">Pending Bills</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="/billing_history"
					{% if active_page == "billing_history" %} class="nav-link text-white bg-gradient-info active" 
					{% else %} class="nav-link text-white" 
					{% endif %} >
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">history</i>
					</div>
					<span class="nav-link-text ms-1">Billing History</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="/billing_report"
					{% if active_page == "billing_report" %} class="nav-link text-white bg-gradient-info active" 
					{% else %} class="nav-link text-white" 
					{% endif %} >
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">account_balance_wallet</i>
					</div>
					<span class="nav-link-text ms-1">Billing Report</span>
				</a>
			</li>

			
			<li class="nav-item">
				<a href="/disconnected"
					{% if active_page == "disconnected" %} class="nav-link text-white bg-gradient-info active" 
					{% else %} class="nav-link text-white" 
					{% endif %} >
					
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">cut </i>
					</div>
					<span class="nav-link-text ms-1">Disconnection</span>
				</a>
			</li>

			<!-- <li class="nav-item">
				<a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#search">
					<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
						<i class="material-icons opacity-10">search</i>
					</div>
					<span class="nav-link-text ms-1">Search</span>
				</a>
			</li> -->

		</ul>
	</div>
	<!-- <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3">
      <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
    </div>
  </div> -->
</aside>